px2em(a, b = 16px)
  (unit(a/b, em))

body, #jqt
  font-size: 16px

body, .toolbar, #jqt ul, #jqt ul.individual li, #jqt ul li a.active, #jqt .info, #jqt #plastic, #tabbar, .s-scrollpane
  background-color: #2a7ea1

#jqt h1, #jqt h2, #jqt ul li a, #jqt .whiteButton, #jqt .button.active, #jqt .cancel.active, #jqt .add.active, #jqt .back.active, #jqt ul li small, #tabbar .badge, #jqt .info, #jqt .info a
  color: #29718e

body, .toolbar, #jqt ul, #jqt ul.individual li, #jqt ul li a.active, #tabbar, .s-scrollwrapper
  background-image: url("img/bg_noise.png")

#jqt > *
  background: rgba(219,243,254,0.9)

#jqt h1, #jqt h2, #jqt ul li a
  font-weight: bold
  font-size: 1.125em /* orig 18px */
  text-shadow: #fff 0 px2em(1px) 0
  margin: px2em(10px) px2em(20px) px2em(5px)

#jqt .toolbar
  -webkit-box-sizing: border-box
  padding: px2em(10px)
  height: px2em(45px)
  position: relative
  -webkit-box-shadow: inset 0 px2em(-2px) px2em(2px) rgba(0,0,0,0.2)

#jqt .black-translucent .toolbar
  margin-top: px2em(20px)

#jqt .toolbar > h1
  position: absolute
  overflow: hidden
  left: 50%
  top: px2em(10px)
  line-height: 1em
  margin: px2em(1px) 0 0 px2em(-75px)
  height: px2em(40px)
  font-size: 1.25em /* orig 20px */
  width: px2em(150px)
  font-weight: bold
  text-shadow: rgba(0,0,0,0.5) 0 px2em(1px) px2em(1px)
  text-align: center
  text-overflow: ellipsis
  white-space: nowrap
  color: #fff

#jqt.landscape .toolbar > h1
  margin-left: px2em(-125px)
  width: px2em(250px)

#jqt .button, #jqt .back, #jqt .cancel, #jqt .add
  position: absolute
  overflow: hidden
  top: px2em(8px, 11px)
  right: px2em(10px, 11px)
  margin: 0
  padding: 0 px2em(8px, 11px)
  width: auto
  height: px2em(30px, 11px)
  line-height: px2em(30px, 11px)
  font-family: inherit
  font-size: 0.6875em /* orig 11px */
  font-weight: bold
  color: #fff
  text-shadow: rgba(0,0,0,0.5) px2em(0px, 11px) px2em(1px, 11px) 0
  text-overflow: ellipsis
  text-decoration: none
  white-space: nowrap
  background: rgba(0,0,0,0.4)
  text-transform: uppercase
  border-radius: px2em(8px, 11px)

#jqt .button.active, #jqt .cancel.active, #jqt .add.active, #jqt .back.active
  background: rgba(255,255,255,0.9)
  text-shadow: none

#jqt .back
  left: px2em(6px, 11px)
  right: auto
  max-width: px2em(41px, 11px)
  padding-left: px2em(11p, 11pxx)
  border-width: 0 0 0 px2em(9px, 11px)
  border-radius: 0 px2em(8px, 11px) px2em(8px, 11px) 0
  -webkit-mask-image: url("img/mask_button_back.svg")
  -webkit-mask-size: px2em(60px, 11px) px2em(30px, 11px)

#jqt .leftButton, #jqt .cancel
  left: px2em(6px, 11px)
  right: auto

/*
  font-size: 24px
  line-height: 24px
*/

#jqt .add
  font-weight: bold

#jqt .whiteButton, #jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton
  display: block
  padding: px2em(10px)
  text-align: center
  font-size: 1.25em /* orig 20px */
  font-weight: bold
  text-decoration: inherit
  border-radius: px2em(10px)
  border: px2em(1px) solid rgba(0,0,0,0.2)
  text-shadow: 0 px2em(2px) 0 rgba(0,0,0,0.2)

#jqt .whiteButton
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee))
  text-shadow: rgba(255,255,255,0.7) 0 px2em(1px) 0

#jqt .whiteButton.active
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff))
  text-shadow: rgba(255,255,255,0.7) 0 px2em(1px) 0

#jqt .grayButton
  color: #fff
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#888))

#jqt .grayButton.active
  color: #fff
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#aaa))

#jqt .redButton
  color: #fff
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e00), to(#c00))

#jqt .redButton.active
  color: #fff
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c00), to(#e00))

#jqt .blueButton
  color: #fff
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00f), to(#00008b))

#jqt .blueButton.active
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00008b), to(#00f))

#jqt .greenButton
  color: #fff
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008000), to(#006400))

#jqt .greenButton.active
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#006400), to(#008000))

#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul
  margin-top: 0

#jqt ul
  color: #aaa
  font-weight: bold
  font-size: 1.125em /* orig 18px */
  padding: 0
  margin: px2em(15px) px2em(10px) px2em(17px) px2em(10px)

#jqt ul.rounded
  -webkit-border-radius: px2em(8px)
  -webkit-box-shadow: rgba(0,0,0,0.3) px2em(1px) px2em(1px) px2em(3px)

#jqt ul.rounded li a, #jqt ul.individual li a
  color: #fff
  text-shadow: 0 px2em(1px) px2em(1px) rgba(0,0,0,0.5)

#jqt ul.rounded li:first-child, #jqt ul.rounded li:first-child a
  border-top: 0
  -webkit-border-top-left-radius: px2em(8px)
  -webkit-border-top-right-radius: px2em(8px)

#jqt ul.rounded li:last-child, #jqt ul.rounded li:last-child a
  -webkit-border-bottom-left-radius: px2em(8px)
  -webkit-border-bottom-right-radius: px2em(8px)

#jqt ul li
  color: #fff
  list-style-type: none
  padding: px2em(10px) px2em(10px) px2em(10px) px2em(10px)
  overflow: hidden
  border-top: px2em(1px) solid rgba(255,255,255,0.8)

#jqt ul li:first-child, #jqt ul.individual li
  border: none

#jqt ul.rounded li a.active
  background-color: rgba(0,0,0,0.2)
  color: #fff
  background-image: none

#jqt ul li.arrow
  background-image: url("img/chevron.svg")
  background-position: right center !important
  background-repeat: no-repeat !important
  background-size: px2em(20px) px2em(16px)

#jqt ul li.arrow a
  padding: px2em(12px) px2em(22px) px2em(12px) px2em(10px)

#jqt ul li.forward
  background-image: url("img/chevron_circle.svg")
  background-position: right center
  background-repeat: no-repeat
  background-size: px2em(33px) px2em(23px)

#jqt ul li a, #jqt li.img a + a
  text-decoration: none
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  display: block
  padding: px2em(12px) px2em(10px) px2em(12px) px2em(10px)
  margin: px2em(-10px)
  -webkit-tap-highlight-color: rgba(0,0,0,0)

#jqt ul li a.active.loading
  background-image: url("img/loading.gif")
  background-position: 95% center
  background-repeat: no-repeat
  background-size: px2em(24px) px2em(24px)

#jqt ul li.img a + a
  margin: px2em(-10px) px2em(10px) px2em(-20px) px2em(-5px)
  font-size: 1.0625em /* orig 17px */
  font-weight: bold

#jqt ul li.img a + a + a
  font-size: 0.875em /* orig 14px */
  font-weight: normal
  margin-left: px2em(-10px)
  margin-bottom: px2em(-10px)
  margin-top: 0

#jqt ul li.img a + small + a
  margin-left: px2em(-5px)

#jqt ul li.img a + small + a + a
  margin-left: px2em(-10px)
  margin-top: px2em(-20px)
  margin-bottom: px2em(-10px)
  font-size: 0.875em /* orig 14px */
  font-weight: normal

#jqt ul li.img a + small + a + a + a
  margin-left: px2em(0px) !important
  margin-bottom: 0

#jqt ul li a + a
  color: #000
  font-weight: normal
  font-size: 0.875em /* orig 14px */
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  display: block
  margin: 0
  padding: 0

#jqt ul li a + a + a, #jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a
  color: #666
  font-weight: normal
  font-size: 0.8125em /* orig 13px */
  margin: 0
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  display: block
  padding: 0

#jqt ul.form li
  padding: px2em(7px) px2em(10px)

#jqt ul.form li.error
  border: px2em(2px) solid #f00

#jqt ul.form li.error + li.error
  border-top: 0

#jqt ul li input[type="text"], #jqt ul li input[type="password"], #jqt ul li input[type="tel"], #jqt ul li input[type="number"], #jqt ul li input[type="search"], #jqt ul li input[type="email"], #jqt ul li input[type="url"], #jqt ul li textarea, #jqt ul li select
  color: #fff
  background: transparent url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==")
  border: 0
  font-weight: normal
  font-size: 1.0625em /* orig 17px */
  padding: 0
  display: inline-block
  margin-left: px2em(0px)
  width: 100%
  -webkit-appearance: textarea

#jqt ul li input::-webkit-input-placeholder, #jqt ul li textarea::-webkit-input-placeholder
  color: rgba(255,255,255,0.4)

#jqt ul li textarea
  height: px2em(120px)
  padding: 0
  text-indent: px2em(-2px)

#jqt ul li select
  text-indent: px2em(0px)
  background: transparent url("img/chevron.svg") no-repeat right center
  background-size: px2em(20px) px2em(16px)
  -webkit-appearance: textfield
  margin-left: px2em(-6px)
  width: 102%

#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"]
  margin: 0
  padding: px2em(10px) px2em(10px)
  font-size: 0.8888em;

#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after
  content: attr(title)
  font-weight: normal
  display: block
  width: px2em(246px)
  color: #fff
  margin: px2em(-12px) 0 0 px2em(17px)

#jqt ul li small
  font-weight: normal
  font-size: 1.0625em /* orig 17px */
  text-align: right
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden
  display: block
  width: 23%
  float: right
  padding: 0

#jqt ul li.arrow small
  padding: 0 px2em(15px)

#jqt ul li small.counter
  font-size: 1.0625em /* orig 17px */
  line-height: px2em(13px)
  font-weight: bold
  background: rgba(0,0,0,0.2)
  color: #fff
  -webkit-border-radius: px2em(11px)
  padding: px2em(4px) px2em(10px) px2em(5px) px2em(10px)
  display: block
  width: auto
  margin-top: px2em(-24px)

#jqt ul li.arrow small.counter
  margin-right: px2em(15px)

#jqt ul.individual
  border: 0
  background: none
  clear: both
  overflow: hidden
  padding-bottom: px2em(3px)
  -webkit-box-shadow: none

#jqt ul.individual li
  font-size: 0.875em /* orig 14px */
  text-align: center
  -webkit-border-radius: px2em(8px)
  -webkit-box-sizing: border-box
  width: 48%
  float: left
  display: block
  padding: px2em(11px) px2em(10px) px2em(14px) px2em(10px)
  -webkit-box-shadow: rgba(0,0,0,0.2) px2em(1px) px2em(1px) px2em(3px)
  margin-bottom: px2em(10px)

#jqt ul.individual li + li
  float: right

#jqt ul.individual li a
  color: #fff
  line-height: px2em(16px)
  margin: px2em(-11px) px2em(-10px) px2em(-14px) px2em(-10px)
  padding: px2em(11px) px2em(10px) px2em(14px) px2em(10px)
  -webkit-border-radius: px2em(8px)

#jqt .toggle
  width: px2em(94px, 18px)
  position: relative
  height: px2em(27px, 18px)
  display: block
  overflow: hidden
  float: right

#jqt .toggle input[type="checkbox"]:checked
  left: px2em(0px)

#jqt .toggle input[type="checkbox"]
  -webkit-appearance: textarea
  -webkit-border-radius: px2em(5px)
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  -webkit-transition: left 0.15s
  background-color: transparent
  background: #fff url("img/on_off.png") 0 0 no-repeat
  background-size: px2em(149px) px2em(27px)
  border: 0
  height: px2em(27px)
  left: px2em(-55px)
  margin: 0
  overflow: hidden
  position: absolute
  top: 0
  width: px2em(149px)

#jqt .info
  font-size: 0.75em /* orig 12px */
  line-height: px2em(16px)
  text-align: center
  text-shadow: rgba(255,255,255,0.5) 0 px2em(1px) 0
  padding: px2em(15px)
  font-weight: bold
  -webkit-box-shadow: inset 0 px2em(-5px) px2em(5px) rgba(0,0,0,0.3)
  border-top: px2em(1px) solid rgba(0,0,0,0.5)
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)))

#jqt ul.edgetoedge
  border-width: px2em(1px) 0
  margin: 0
  padding: 0

#jqt ul.edgetoedge li
  background: rgba(255,255,255,0.9)
  font-size: 1em /* orig 20px */

#jqt ul.edgetoedge li a.active
  color: #fff
  text-shadow: 0 px2em(1px) px2em(1px) rgba(0,0,0,0.3)
  -webkit-box-shadow: inset 0 0 px2em(5px) rgba(0,0,0,0.3)

#jqt ul.edgetoedge li.arrow
  background-color: #404142 !important
  background-image: url("img/chevron.svg")
  background-position: right center
  background-repeat: no-repeat
  background-size: px2em(20px) px2em(16px)

#jqt ul.edgetoedge li.sep
  background: rgba(255,255,255,0.25)
  color: #fff
  font-size: 1em /* orig 16px */
  padding: px2em(2px) px2em(10px)
  text-shadow: 0 px2em(1px) px2em(1px) rgba(0,0,0,0.5)
  border: none

#jqt ul.edgetoedge li em
  font-weight: normal
  font-style: normal

#jqt ul.plastic
  color: rgba(0,0,0,0.3)
  font-weight: bold
  font-size: 1.125em /* orig 18px */
  margin: 0
  padding: 0
  border-width: 0 0 px2em(1px) 0
  background: rgba(255,255,255,0.7)

#jqt ul.plastic li
  color: rgba(0,0,0,0.6)
  list-style-type: none
  overflow: hidden
  padding: px2em(10px) px2em(10px) px2em(10px) px2em(10px)
  margin: 0
  border: none
  border-bottom: px2em(1px) solid rgba(0,0,0,0.1)

#jqt ul.plastic li a
  text-shadow: 0 px2em(1px) 0 rgba(255,255,255,0.5)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)))

#jqt ul.plastic li a.active.loading
  background-image: url("img/loading.gif")
  background-position: 95% center
  background-repeat: no-repeat
  background-size: px2em(24px) px2em(24px)

#jqt ul.plastic li small
  color: #888
  font-size: 0.8125em /* orig 13px */
  font-weight: bold
  line-height: px2em(24px)
  text-transform: uppercase

#jqt ul.plastic li.arrow
  background-image: url("img/chevron_dark.svg")
  background-position: right center
  background-repeat: no-repeat
  background-size: px2em(20px) px2em(16px)

#jqt ul.plastic li.forward
  background-image: url("img/chevron_circle.svg")
  background-position: right center
  background-repeat: no-repeat
  background-size: px2em(33px) px2em(23px)

#jqt ul.plastic li a.active
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)))
  -webkit-box-shadow: inset 0 0 px2em(5px) rgba(0,0,0,0.5)

#jqt ul.metal
  border-bottom: 0
  border-left: 0
  border-right: 0
  border-top: 0
  margin: 0
  background: #fff

#jqt ul.metal li
  background-image: none
  font-size: 1em /* orig 26px */
  padding: 0

#jqt ul.metal li a
  padding: px2em(13px, 20px)
  line-height: px2em(26px, 20px)
  margin: 0
  text-shadow: rgba(255,255,255,0.7) 0 px2em(1px, 20px) 0
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#c8c8c8))

#jqt ul.metal li a em
  display: block
  font-size: 0.875em /* orig 14px */
  font-style: normal
  color: #444
  width: 50%
  line-height: px2em(14px)

#jqt ul.metal li a.active
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c8c8c8), to(#eee))
  -webkit-box-shadow: inset 0 0 px2em(5px) rgba(0,0,0,0.5)

#jqt ul.metal li small
  float: right
  position: relative
  margin-top: px2em(10px)
  font-weight: bold

#jqt ul.metal li.arrow
  background-image: url("img/chevron.svg"), -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#9c9ea0))
  background-position: right center
  background-repeat: no-repeat
  background-size: px2em(20px) px2em(16px)

#jqt ul.metal li.arrow a small
  padding-right: px2em(15px)
  line-height: px2em(17px)

input[type="submit"]
  -webkit-border-radius: px2em(4px)
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#9c9ea0))
  border: px2em(1px) outset #000
  display: block
  font-size: inherit
  font-weight: inherit
  padding: px2em(10px)
