body, #jqt {
    font-size: 16px;
}

body, .toolbar, #jqt ul, #jqt ul.individual li,#jqt ul li a.active,#jqt .info,#jqt #plastic,#tabbar, .s-scrollpane {
    background-color: #2a7ea1;
}
#jqt h1, #jqt h2, #jqt ul li a,#jqt .whiteButton, #jqt .button.active, #jqt .cancel.active, #jqt .add.active, #jqt .back.active,#jqt ul li small,#tabbar .badge,#jqt .info,#jqt .info a  {
    color: #29718e;
}

body, .toolbar, #jqt ul, #jqt ul.individual li, #jqt ul li a.active,#tabbar,.s-scrollwrapper {
    background-image: url(img/bg_noise.png);
}
#jqt > * {
    background: rgba(219,243,254,0.9);
}
#jqt h1, #jqt h2, #jqt ul li a {
    font-weight: bold;
    font-size: 1.125em;
    text-shadow: white 0 0.062em 0;
    margin: 0.625em 1.25em 0.3125em;
}
/* @group Toolbar */
#jqt .toolbar {
    -webkit-box-sizing: border-box;
/*     border-bottom: 0.0625em solid rgba(0,0,0,0.5); */
    padding: 0.625em;
    height: 2.8125em;
    position: relative;
    -webkit-box-shadow: inset 0 -0.125em 0.125em rgba(0,0,0,0.2);
}
#jqt .black-translucent .toolbar {
    margin-top: 1.25em;
}
#jqt .toolbar > h1 {
    position: absolute;
    overflow: hidden;
    left: 50%;
    top: 0.625em;
    line-height: 1em;
    margin: 0.0625em 0 0 -4.6875em;
    height: 2.5em;
    font-size: 1.25em;
    width: 9.375em;
    font-weight: bold;
    text-shadow: rgba(0,0,0,0.5) 0 0.0625em 0.0625em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
}
#jqt.landscape .toolbar > h1 {
    margin-left: -7.8125em;
    width: 15.6250em;
}
#jqt .button, #jqt .back, #jqt .cancel, #jqt .add {
    position: absolute;
    overflow: hidden;
    top: 0.65em;
    right: 1em;
    margin: 0;
    padding: 0.1em 0.5em;
    width: auto;
    height: 2.6em;
    line-height: 2.5em;
    font-family: inherit;
    font-size: 0.6875em;
    font-weight: bold;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0.0625em 0;
    text-overflow: ellipsis;
    text-decoration: none;
    white-space: nowrap;
    background: none;
    text-transform: uppercase;
    background: rgba(0,0,0,0.4);
    border-radius: 0.5em;
}
#jqt .button.active, #jqt .cancel.active, #jqt .add.active, #jqt .back.active {
    background: rgba(255,255,255,0.9);
    text-shadow: none;
}
#jqt .back {
    left: 0.375em;
    right: auto;
    max-width: 3.5em;
    padding-left: 0.6875em;
    border-width: 0 0 0 0.5625em;
    border-radius: 0 0.5em 0.5em 0;
    -webkit-mask-image: url(img/mask_button_back.svg);
    -webkit-mask-size: 5em 3em;
}
#jqt .leftButton, #jqt .cancel {
    left: 0.375em;
    right: auto;
}
#jqt .add {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
}
#jqt .whiteButton,#jqt .grayButton, #jqt .redButton, #jqt .blueButton, #jqt .greenButton {
    display: block;
    padding: 0.625em;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
    text-decoration: inherit;
    border-radius: 0.625em;
    border: 0.0625em solid rgba(0,0,0,0.2);
    text-shadow: 0 0.125em 0 rgba(0,0,0,0.2);
}

#jqt .whiteButton {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#eee));
    text-shadow: rgba(255, 255, 255, 0.7) 0 0.0625em 0;
}
#jqt .whiteButton.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#fff));
    text-shadow: rgba(255, 255, 255, 0.7) 0 0.0625em 0;
}
#jqt .grayButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aaa), to(#888));
}
#jqt .grayButton.active {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#888), to(#aaa));
}
#jqt .redButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ee0000), to(#cc0000));
}
#jqt .redButton.active {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cc0000), to(#ee0000));
}
#jqt .blueButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(blue), to(darkblue));
}
#jqt .blueButton.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkblue), to(blue));
}
#jqt .greenButton {
    color: white;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(green), to(darkgreen));
}
#jqt .greenButton.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(darkgreen), to(green));
}

/* @end */
/* @group Lists */
#jqt h1 + ul, #jqt h2 + ul, #jqt h3 + ul, #jqt h4 + ul, #jqt h5 + ul, #jqt h6 + ul {
    margin-top: 0;
}
#jqt ul {
    color: #aaa;
    font-weight: bold;
    font-size: 1.125em;
    padding: 0;
    margin: 0.9375em 0.625em 1.0625em 0.625em;
}
#jqt ul.rounded {
    -webkit-border-radius: 0.5em;
    -webkit-box-shadow: rgba(0,0,0,.3) 0.0625em 0.0625em 0.1875em;
}
#jqt ul.rounded li a, #jqt ul.individual li a {
  color: white;
  text-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.5);
}
#jqt ul.rounded li:first-child, #jqt ul.rounded li:first-child a {
    border-top: 0;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
}
#jqt ul.rounded li:last-child, #jqt ul.rounded li:last-child a {
    -webkit-border-bottom-left-radius: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
}
#jqt ul li {
    color: white;
    list-style-type: none;
    padding: 0.625em 0.625em 0.625em 0.625em;
    overflow: hidden;
    border-top: 0.0625em solid rgba(255,255,255,0.8);
}
#jqt ul li:first-child, #jqt ul.individual li {
  border: none;
}
#jqt ul.rounded li a.active {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    background-image: none;
}
#jqt ul li.arrow {
    background-image: url(img/chevron.svg);
    background-position: right center !important;
    background-repeat: no-repeat !important;
    background-size: 1em 1em;
}

#jqt ul li.arrow a {
    padding: 0.75em 1.375em 0.75em 0.625em;
}

#jqt ul li.forward {
    background-image: url(img/chevron_circle.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.8em 1.4em;
}
/* universal links on list */
#jqt ul li a, #jqt li.img a + a {
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0.75em 0.625em 0.75em 0.625em;
    margin: -0.625em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#jqt ul li a.active.loading {
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}
#jqt ul li.img a + a {
    margin: -0.625em 0.625em -1.25em -0.3125em;
    font-size: 1.0625em;
    font-weight: bold;
}
#jqt ul li.img a + a + a {
    font-size: 0.875em;
    font-weight: normal;
    margin-left: -0.625em;
    margin-bottom: -0.625em;
    margin-top: 0;
}
#jqt ul li.img a + small + a {
    margin-left: -0.3125em;
}
#jqt ul li.img a + small + a + a {
    margin-left: -0.625em;
    margin-top: -1.25em;
    margin-bottom: -0.625em;
    font-size: 0.875em;
    font-weight: normal;
}
#jqt ul li.img a + small + a + a + a {
    margin-left: 0em !important;
    margin-bottom: 0;
}
#jqt ul li a + a {
    color: #000;
    font-weight: normal;
    font-size: 0.875em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
#jqt ul li a + a + a, #jqt ul li.img a + a + a + a, #jqt ul li.img a + small + a + a + a {
    color: #666;
    font-weight: normal;
    font-size: 0.8125em;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    padding: 0;
}
/*
@end */
/* @group Forms */
#jqt ul.form li {
    padding: 0.4375em 0.625em;
}
#jqt ul.form li.error {
    border: 0.125em solid red;
}
#jqt ul.form li.error + li.error {
    border-top: 0;
}
#jqt ul li input[type="text"],
#jqt ul li input[type="password"],
#jqt ul li input[type="tel"],
#jqt ul li input[type="number"],
#jqt ul li input[type="search"],
#jqt ul li input[type="email"],
#jqt ul li input[type="url"],
#jqt ul li textarea,
#jqt ul li select {
    color: white;
    background: transparent url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
    border: 0;
    font-weight: normal;
    font-size: 1.0625em;
    padding: 0;
    display: inline-block;
    margin-left: 0em;
    width: 100%;
    -webkit-appearance: textarea;
}
#jqt ul li input::-webkit-input-placeholder, #jqt ul li textarea::-webkit-input-placeholder {
    color: rgba(255,255,255,0.4);
}
#jqt ul li textarea {
    height: 7.05em;
    padding: 0;
    text-indent: -0.11em;
}
#jqt ul li select {
    text-indent: 0;
    background: transparent url(img/chevron.svg) no-repeat right center;
    background-size: 1.18em 0.95em;
    -webkit-appearance: textfield;
    margin-left: -0.375em;
    width: 102%;
}
#jqt ul li input[type="checkbox"], #jqt ul li input[type="radio"] {
    margin: 0;
    padding: 0.625em 0.625em;
}
#jqt ul li input[type="checkbox"]:after, #jqt ul li input[type="radio"]:after {
    content: attr(title);
    font-weight: normal;
    font-size: 1.0625em;
    display: block;
    width: 14.47em;
    color: white;
    margin: -0.75em 0 0 1.0625em;
}
/* @end */
/* @group Mini Label */
#jqt ul li small {
    font-weight: normal;
    font-size: 1.0625em;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 23%;
    float: right;
    padding: 0;
}
#jqt ul li.arrow small {
    padding: 0 0.9375em;
}
#jqt ul li small.counter {
    font-size: 1.0625em;
    line-height: 0.8125em;
    font-weight: bold;
    background: rgba(0,0,0,.2);
    color: #fff;
    -webkit-border-radius: 0.6875em;
    padding: 0.25em 0.625em 0.3125em 0.625em;
    display: block;
    width: auto;
    margin-top: -1.4em;
}
#jqt ul li.arrow small.counter {
    margin-right: 0.9375em;
}
/* @end */
/* @group Individual */
#jqt ul.individual {
    border: 0;
    background: none;
    clear: both;
    overflow: hidden;
    padding-bottom: 0.1875em;
    -webkit-box-shadow: none;
}
#jqt ul.individual li {
    font-size: 0.875em;
    text-align: center;
    -webkit-border-radius: 0.5em;
    -webkit-box-sizing: border-box;
    width: 48%;
    float: left;
    display: block;
    padding: 0.6875em 0.625em 0.875em 0.625em;
    -webkit-box-shadow: rgba(0,0,0,.2) 0.0625em 0.0625em 0.1875em;
    margin-bottom: 0.625em;
}
#jqt ul.individual li + li {
    float: right;
}
#jqt ul.individual li a {
    color: #fff;
    line-height: 1em;
    margin: -0.6875em -0.625em -0.875em -0.625em;
    padding: 0.6875em 0.625em 0.875em 0.625em;
    -webkit-border-radius: 0.5em;
}
/* @end */
/* @group Toggle */
#jqt .toggle {
    width: 5.22em;
    position: relative;
    height: 1.5em;
    display: block;
    overflow: hidden;
    float: right;
}
#jqt .toggle input[type="checkbox"]:checked {
    left: 0em;
}
#jqt .toggle input[type="checkbox"] {
    -webkit-appearance: textarea;
    -webkit-border-radius: 0.3125em;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transition: left .15s;
    background-color: transparent;
    background: #fff url(img/on_off.png) 0 0 no-repeat;
    background-size: 13.9em 2.5em;
    border: 0;
    height: 2.5em;
    left: -5.1em;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 13.6em;
}
/* @end */
/* @group Info */
#jqt .info {
    font-size: 0.75em;
    line-height: 1em;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0 0.0625em 0;
    padding: 0.9375em;
    font-weight: bold;
    -webkit-box-shadow: inset 0 -0.3125em 0.3125em rgba(0,0,0,0.3);
    border-top: 0.0625em solid rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom,from(rgba(255,255,255,0.8)))
}
/* @end */
/* @group Edge to edge */
#jqt ul.edgetoedge {
    border-width: 0.0625em 0;
    margin: 0;
    padding: 0;
}
#jqt ul.edgetoedge li {
    background: rgba(255,255,255,0.9);
    font-size: 1em;
}
#jqt ul.edgetoedge li a.active {
  color: white;
  text-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.3);
  -webkit-box-shadow: inset 0 0 0.3125em rgba(0,0,0,0.3);
}
#jqt ul.edgetoedge li.arrow {
    background-color: #404142 !important;
    background-image: url(img/chevron.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}
#jqt ul.edgetoedge li.sep {
    background: rgba(255,255,255,0.25);
    color: #fff;
    font-size: 1em;
    padding: 0.125em 0.625em;
    text-shadow: 0 0.0625em 0.0625em rgba(0,0,0,0.5);
    border: none;
}
#jqt ul.edgetoedge li em {
    font-weight: normal;
    font-style: normal;
}
/* @end */
/* @group Plastic */

#jqt ul.plastic {
    color: rgba(0,0,0,0.3);
    font-weight: bold;
    font-size: 1.125em;
    margin: 0;
    padding: 0;
    border-width: 0 0 0.0625em 0;
    background: rgba(255,255,255,0.7);
}
#jqt ul.plastic li {
    color: rgba(0,0,0,0.6);
    list-style-type: none;
    overflow: hidden;
    padding: 0.625em 0.625em 0.625em 0.625em;
    margin: 0;
    border: none;
    border-bottom: 0.0625em solid rgba(0,0,0,0.1)
}
#jqt ul.plastic li a {
  text-shadow: 0 0.0625em 0 rgba(255,255,255,0.5);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)));
}
#jqt ul.plastic li a.active.loading {
    background-image: url(img/loading.gif);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
}
#jqt ul.plastic li small {
    color: #888;
    font-size: 0.8125em;
    font-weight: bold;
    line-height: 1.5em;
    text-transform: uppercase;
}
#jqt ul.plastic li.arrow {
    background-image: url(img/chevron_dark.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}
#jqt ul.plastic li.forward {
    background-image: url(img/chevron_circle.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.8em 1.4em;
}
#jqt ul.plastic li a.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), to(rgba(255,255,255,0.5)));
    -webkit-box-shadow: inset 0 0 0.3125em rgba(0,0,0,0.5);
}
/* @group Metal */
#jqt ul.metal {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: 0;
    background: white;
}
#jqt ul.metal li {
    background-image: none;
    font-size: 1em;
    padding: 0;
}
#jqt ul.metal li a {
    padding: 0.8125em;
    line-height: 1.2em;
    margin: 0;
    text-shadow: rgba(255,255,255,0.7) 0 0.0625em 0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(200,200,200,1)));
}
#jqt ul.metal li a em {
    display: block;
    font-size: 0.875em;
    font-style: normal;
    color: #444;
    width: 50%;
    line-height: 0.875em;
}
#jqt ul.metal li a.active {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(200,200,200,1)), to(rgba(238,238,238,1)));
    -webkit-box-shadow: inset 0 0 0.3125em rgba(0,0,0,0.5)
}
#jqt ul.metal li small {
    float: right;
    position: relative;
    margin-top: 0.625em;
    font-weight: bold;
}
#jqt ul.metal li.arrow {
    background-image: url(img/chevron.svg), -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
}
#jqt ul.metal li.arrow a small {
    padding-right: 0.9375em;
    line-height: 1.0625em;
}
/* @end */
input[type='submit'] {
    -webkit-border-radius: 0.25em;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(238,238,238,1)), to(rgba(156,158,160,1)));
    border: 0.0625em outset black;
    display: block;
    font-size: inherit;
    font-weight: inherit;
    padding: 0.625em;
}
